{{>top}}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/{{book.picture}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.description}}</p>
        <a href="/addtobasket" class="btn btn-primary">Add to basket</a>
        <input type="button" name="{{book.id}}" id="tobasket" value="Add to basket">
    </div>
</div>

{{>footer}}