{{>top}}
<div class="col-md-6">
    <div class="addBook">
        <form id="edit" action="/edit/{{book.id}}">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="title" value="{{book.title}}">
            </div>
            <div class="form-group">
                <label for="description">Discription</label>
                <textarea name="description" class="form-control" id="description" rows="3" value="{{book.description}}"></textarea>
            </div>
            <div class="form-group">
                <label for="picture">file input</label>
                <input name="picture" type="file" class="form-control-file" id="picture">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="/static/javascripts/edit.js"></script>
{{>footer}}