<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <!------------------------------Bootstrap Jquery Popper.js---------------------------------->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>-->
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!------------------------------Static files------------------------------>
    <link rel="stylesheet" href="/static/stylesheets/style.css">


    <script src="/static/javascripts/search.js"></script>
    <script src="/static/javascripts/main.js"></script>


    <title>BookMarket</title>
</head>
<body>
