{{>top}}
<div class="col-md-6">
    <div id="body">
        {{#error}}<h1>{{error}}</h1>{{/error}}
        <div class="books">
            {{#books}}
                <div class="cardBook">
                    <div class="row">{{#picture}}<img class = "img" src="/img/{{picture}}" alt="picture">{{/picture}}</div>
                    <div class="row"><a href="/book/{{id}}">{{title}}</a></div>
                    <div class="row">{{description}}</div>
                    <div class="row"><li><a href="/delete?id={{id}}">delete</a></li></div>
                </div>
            {{/books}}
        </div>
    </div>
</div>

{{>footer}}